.leftClickPage {
  color: black;
}

hr {
  background-color: black;
  display: none;
  height: 3px;
  border: none;
}
.leftclickheaders{
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}
.statueHeader {
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  display: block;
  margin-bottom: 15px;
}

.NotStarted,
.NotStarted2,{
  color: black;
}
.Notes {
  color: blue;
}
.NCR {
  color: yellow;
}
.Rejected {
  color: red;
}
.Completed {
  color: green;
}

.Paid {
  color: green;
}
.InProgress {
  color: blue;
}
.ReadyToPay {
  color: yellow;
}


#sendButton,#sendButtonInvoice {
  padding: 9px 15px;
  font-size: 15px;
  font-weight: 700;
  background-color: red;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin: 20px 0;
  transition: 0.2s;
}

#sendButton:hover,#sendButtonInvoice:hover {
  background-color: rgb(169, 0, 0);
}



.statue-container .header-statue {
  font-size: 15px;
  font-weight: 600;
  width: 100%;
  padding: 6px;
  background-color: #006bff;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
}

.statue-container .header-statue:hover {
  background-color: #002252;
}

.all-Images-container {
  display: none;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  border-radius: 2%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  margin: 5px;
  background-color: #006bff;
  width: 50%;
}

.image-area {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  margin: 10px 0px;
  position: relative;
  overflow: hidden;
  text-align: center;
  padding: 10px 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 270px;
}

.image-area h5 {
  color: black;
  font-weight: 900;
  margin: 0;
}
.image-area .icon {
  width: 60px;
  height: 30px;
  content: url("../pic/upload-sign-svgrepo-com.svg");
}
#GeneralFileimage {
  content: url("../pic/General_Files_Icon.png");
}

.image-area .image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: fill;
  object-position: center;
  z-index: 100;
}
.image-area::before {
  content: attr(data-img);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.5);
  color: #fff;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  transition: all 0.3s ease;
  z-index: 200;
}
.image-area.active:hover::before {
  opacity: 1;
}

.image-area h6 {
  color: #f44336;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}
.image-area h6 span {
  font-weight: 1000;
}
.select-imag-button {
  width: 90%;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}
.select-imag-button:hover {
  background-color: darkblue;
}
.download-imag-button {
  width: 100%;
  border-radius: 5px;
  background-color: blue;
  color: white;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}
.download-imag-button:hover {
  background-color: darkblue;
}
.delete-imag-button {
  width: 100%;
  border-radius: 5px;
  background-color: rgb(255 0 0 / 84%);
  color: white;
  font-weight: 200;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  padding: 5px;
  border: none;
}

.delete-imag-button:hover {
  background-color: rgba(182, 0, 0, 0.84);
}
.button-group {
  width: 90%;
}

.button-group button {
  flex-grow: 1; /* Ensure the buttons take up equal space */
}











    